<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:caches="http://www.burgers.org/schema/cache"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.burgers.org/schema/cache http://www.burgers.org/schema/cache.xsd
        http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

    <context:component-scan base-package="org.burgers.spring.cache"/>

    <cache:annotation-driven/>

    <caches:caching>
        <!--no concept of expiration-->
        <caches:standard id="standardWords" name="standardWords"/>
        <!--expires in 5 minutes-->
        <caches:date-based-cache id="words" name="words"
                                 timeUntilExpiration="5"
                                 unitOfMeasurement="MINUTES"/>
        <!--immediate expiration in seconds-->
        <caches:date-based-cache id="expiringWords" name="expiringWords"
                                 timeUntilExpiration="-1"
                                 unitOfMeasurement="SECONDS"/>
    </caches:caching>

    <bean id="customEditorConfigurer" class="org.springframework.beans.factory.config.CustomEditorConfigurer">
          <property name="customEditors">
                <map>
                  <entry key="org.burgers.spring.cache.TimeUnit">
                    <bean class="org.burgers.spring.cache.TimeUnitPropertyEditor"/>
                  </entry>
                </map>
          </property>
    </bean>

</beans>